---
import Logo from '../assets/greenorbit-long.svg'; // Ensure this path matches your project structure
import SocialLinks from '../components/SocialLinks.astro';
import socials from '../data/schema/socials.json';

const currentYear = new Date().getFullYear();

const footerLinks = [
  {
    title: "Solutions",
    links: [
      { text: "Services", url: "/services" },
      { text: "Service Catalogue", url: "/service-catalogue" },
      { text: "Pricing", url: "/pricing" },
      { text: "FAQs", url: "/faqs" }
    ]
  },
  {
    title: "Insights",
    links: [
      { text: "Blog", url: "/blog" },
      { text: "News", url: "/news" },
      { text: "Resources", url: "/resources" },            
      { text: "Events", url: "/events" },
      { text: "Case Studies", url: "/case-studies" },
    ]
  },
  {
    title: "Company",
    links: [
      { text: "About Us", url: "/about" },
      { text: "Careers", url: "/careers" },
      { text: "Contact", url: "/contact" },
      { text: "Terms of Service", url: "/terms-of-service" }
    ]
  }
];
---

<footer class="bg-primary-500 text-white pt-8 pb-8">
  <div class="container-custom">
    <div class="grid md:grid-cols-2 lg:grid-cols-5 gap-8 mb-12">
      <div class="md:col-span-2 lg:col-span-2">
    <a href="/" class="flex items-center" aria-label="Go to homepage">
    <Logo class="h-50 md:h-30 w-auto max-w-[200px] sm:max-w-[250px] lg:max-w-[300px]" />
  </a>
        <div class="flex space-x-4">
              <SocialLinks socials={socials} size="w-6 h-6" gap="gap-4" />
        </div>
      </div>
      
      {footerLinks.map(column => (
        <div>
          <h3 class="text-lg font-semibold mb-4">{column.title}</h3>
          <ul class="space-y-2">
            {column.links.map(link => (
              <li>
                <a href={link.url} class="text-text-white hover:text-accent-500 transition-colors">{link.text}</a>
              </li>
            ))}
          </ul>
        </div>
      ))}
    </div>
    
    <div class="border-t border-accent-500 pt-8 mt-8">
      <div class="flex flex-col md:flex-row justify-between items-center">
        <p class="text-white text-sm mb-4 md:mb-0">
          &copy; {currentYear} Green Orbit Digital Ltd. All rights reserved.
        </p>
<div id="wcb" class="carbonbadge wcb-d"></div>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
        <div class="flex space-x-6">
          <a href="/privacy-policy" class="text-white hover:text-accent-500 text-sm transition-colors">Privacy Policy</a>
          <a href="/terms-of-use" class="text-white hover:text-accent-500 text-sm transition-colors">Terms of Use</a>
          <a href="/cookie-policy" class="text-white hover:text-accent-500 text-sm transition-colors">Cookie Policy</a>
          <a href="/accessibility" class="text-white hover:text-accent-500 text-sm transition-colors">Accessibility</a>
        </div>
      </div>
    </div>
  </div>
</footer>
